
body {
}

ul {

	> li {

		color:black;

		&:hover {
			color:blue;
		}

	}


}

	textarea {
		vertical-align: middle;
	}


// ul > li {
// 	color:black;
// }

// ul > li:hover {
// 	color:blue;
// }

